.App {
  width: 100%;
  height: 100vh;
  margin: auto;
}
.App-header {
  text-align: center;
  color: white;
  padding: 1rem;
  background-color: rgb(14, 168, 14);
}

.parking {
  object-position: center;
  width: 100%;
}
.parking img {
  width: 100%;
  object-fit: contain;
}

/* .parking-button {
  outline: none;
  border: none;
  padding: 1px 5px;
  color: white;
}
.parking-button.primary {
  background-color: green;
}
.parking-button.secondary {
  background-color: red;
} */
/* .MuiButtonBase-root {
  width: 20% !important;
  height: 130px !important;
} */

.MuiButton-containedPrimary {
  background-color: green !important;
}

.MuiButtonBase-root {
  margin: 1rem !important;
  width: 25% !important;
}
@media (min-width: 740px) {
  .MuiButtonBase-root {
    width: 110px !important;
  }
}
.parking-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
  box-sizing: border-box;
}
.parking-button {
  margin: 5px 1px !important;
  max-width: 25% !important;
}
.login-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.login-buttons button {
  background-color: white;
}
.login-buttons img {
  width: 80%;
}
button.login-provider-button {
  border: none;
}

span.MuiButton-label {
  font-size: 0.6rem;
}
.modalButtons {
  display: flex;
}
.modal-body {
  text-align: right;
}
.userDisplay {
  text-align: center;
  font-size: 1.3rem;
}
.date {
  margin-top: -1rem;
}
.user {
  padding-top: 0.8rem;
}
.modal-title.h4 {
  text-align: right;
}
